<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="console1" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %green(%d{HH:mm:ss.SSS}) [%t] %highlight(%-5level) %logger{36} - %boldWhite(%msg%n)
            </Pattern>
        </encoder>
    </appender>

    <appender name="file1" class="ch.qos.logback.core.FileAppender">
        <file>logs/file1.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <logger name="logging.appenders.AppAppender1" level="TRACE">
        <appender-ref ref="console1"/>
    </logger>

    <logger name="logging.appenders.FileAppender1" level="DEBUG">
        <appender-ref ref="file1"/>
    </logger>

<!-- aulas anteriores
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="console2" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                [2] %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <logger name="logging" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="x" level="warn">
        <appender-ref ref="console1"/>
    </logger>

    <logger name="x.y">
        <appender-ref ref="console2"/>
    </logger>

    <logger name="ROOT" level="warn">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="app4">
    </logger>

    <logger name="app5" level="INFO">
    </logger>

    <logger name="app6" level="INFO">
    </logger>

    <logger name="app7" level="INFO">
    </logger>
-->

</configuration>